################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.edopro_lock
*.log
*.jpg
replay/_LastReplay.yrpX
replay/_LastReplay.yrp
replay/_LastReplay.yrp
replay/_LastReplay.yrpX
#*.yrpX
#*.yrp
*.log
*.conf
config/system.conf
repositories/lflists/
repositories/delta-puppet/
puzzles/Canon collection/
